#pokedex{
    background-color: rgb(104, 185, 6);
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#inputpokemon{
    margin: 10px;
    border-radius: 7px;
}

.namepokemon{
    padding-top: 18px;
}
.imgpokemon{
    width: 100px;
    height: 100px;
    background-color: tomato;
    
    text-align: center;
    border-radius: 50%;
}